@tailwind base;
@tailwind components;
@tailwind utilities;
@screen sm {
  .hiddenItemsSmallScreen {
    display: none;
  }
}
@screen lg {
  .hiddenItemsSmallScreen {
    display: flex;
  }
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  margin-left: 3px;
  position: relative;
  z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
  position: relative;
  z-index: -1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 30px;
  position: relative;
  z-index: -1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  position: relative;
  z-index: -1;
}